$font-size-desktop-5xl: 3rem;
$font-size-desktop-4xl: 2.25rem;
$font-size-desktop-3xl: 1.875rem;
$font-size-desktop-2xl: 1.5rem;
$font-size-desktop-xl: 1.25rem;

$font-size-mobile-4xl: 2.25rem;
$font-size-mobile-3xl: 1.875rem;
$font-size-mobile-2xl: 1.5rem;
$font-size-mobile-xl: 1.25rem;

$font-size-lg: 1.125rem;
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;

$line-height-desktop-5xl: 3rem;
$line-height-desktop-4xl: 2.5rem;
$line-height-desktop-3xl: 2.25rem;
$line-height-desktop-2xl: 2rem;
$line-height-desktop-xl: 1.75rem;

$line-height-mobile-4xl: 2.5rem;
$line-height-mobile-3xl: 2.25rem;
$line-height-mobile-2xl: 2rem;
$line-height-mobile-xl: 1.75rem;

$line-height-lg: 1.75rem;
$line-height-base: 1.5rem;
$line-height-sm: 1.25rem;
$line-height-xs: 1rem;
