/* stylelint-disable-next-line import-notation */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: #111827;
  --neutral-800: #1f2937;
  --neutral-700: #374151;
  --neutral-600: #4b5563;
  --neutral-500: #6b7280;
  --neutral-400: #94a3b8;
  --neutral-300: #cbd5e1;
  --neutral-200: #e5e7eb;
  --neutral-100: #f3f4f6;
  --neutral-50: #f8fafc;
  --rose-600: #e11d48;
  --rose-400: #fb7185;
  --rose-50: #fff1f2;
  --amber-600: #d97706;
  --amber-400: #f59e0b;
  --amber-100: #fef3c7;
  --teal-600: #0d9488;
  --teal-400: #2dd4bf;
  --teal-50: #f0fdfa;
}

* {
  font-family: Inter, sans-serif;
}
