// @import "./abstracts/test.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

// .styles_myClass__vmb2U {
//   div {
//     @include themed {
//       background-color: t("bg") !important;
//     }
//   }

//   @include themed {
//       color: t("text");
//       background: t("bg");
//     }
// }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
